@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/monserat/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'Montserrat Bold';
    src: url('/assets/fonts/monserat/Montserrat-Bold.ttf');
}

@font-face {
    font-family: 'Montserrat Medium';
    src: url('/assets/fonts/monserat/Montserrat-Medium.ttf');
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('/assets/fonts/FreeSans.otf');
}

.font-montserrat{
    font-family: 'Montserrat' ;
}

.font-montserrat-bold{
    font-family: 'Montserrat Bold' ;
}

.font-montserrat-medium{
    font-family: 'Montserrat Medium' ;
}

.font-helvetica{
    font-family: 'Helvetica Neue' ;
}