$about-us-header-font: "Montserrat Bold";
$about-us-text-font: "Montserrat Medium";

@media (min-width: 768px) {
    .about-us-card {
        margin-bottom: 100px !important;
    }

    .line {
        border-bottom: 0 !important;
    }

    .about-us-img {
        display: inline-block !important;
    }
}

#about-us {
    background-image: url(/assets/img/back-ground/grass-bg.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: auto;
}

.about-us-img {
    display: none;
}

.about-us-header {
    font-family: $about-us-header-font;
}

.about-us-text {
    font-family: $about-us-text-font;
}

.line {
    border-bottom: 3px solid rgba($color: #838383, $alpha: 0.6);
}